/*Notification boxes*/
.alert {
  padding: 20px;
  color: white;
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.codenotif {
  padding: 4px;
  background-color: #833333;
  color: white;
}

.alert.danger {background-color: #f44336;}
.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
