.editor, .CodeMirror {
    height: 100%;
    width: 100%;
    position: relative;
}
.editor {
    padding-bottom: 4em;
}
@media screen and (min-width: 720px) {
    .editor {
        width: 50%;
        float: left;
        padding-bottom: 0;
    }
    .full-width {
        width: 100%;
        float: initial;
    }
}

.text-center {
    text-align: center;
}
.hide {
    display: none;
}
.border-bottom {
    border-bottom: 1px solid #333;
}
